$bg-color: #333;
$font-color: #fff;
$primary-color: #17a2b8;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;

body{
    color: $font-color;
    height: 100%;
    display: flex;
    flex-direction: column;
}

html{
    height: 100%;
}

.navbar{
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

/* HOME STYLINGS */
#home-section{
    background: url('../img/home.jpg') no-repeat;
    height: 100vh;
    background-size: cover;

.dark-overlay{
    background-color: $dark-overlay;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.home-inner{
    padding-top: 120px;
}

.fa{
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
}

  .main-color-bg{
    background: $bg-color;
    border: $primary-color 3px solid;

  }

  a{
      color: #fff;
  }
}

#logo{
    font-family: 'Pacifico', cursive;
    color: #fff
}


  /* Header */
  #header{
      background: #333333;
      color: #ffffff;
      padding-bottom: 10px;
      margin-bottom: 15px;
      padding-top: 57px;
  }

  .breadcrumb a{
      color: $primary-color;
  }

  #display{
      color: $bg-color;
  }

  .obj-color, a{
      color: $primary-color;
  }

  .list-group-item.active{
      background-color: $primary-color !important;
      border-color: $primary-color !important;
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #49A0B5;
    border-right: 16px solid #EAECEF;
    border-bottom: 16px solid #49A0B5;
    border-left: 16px solid #EAECEF;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .txt {
    width: 100%;
    text-align: center;
    bottom: 0;
  }

  #main-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .content{
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto
  }
