$bg-color: #333;
$font-color: #fff;
$primary-color: #17a2b8;
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px;

// body{
//     color: $font-color;
// }

.navbar{
    border-bottom: $primary-color 3px solid;
    opacity: 0.8;
}

/* HOME STYLINGS */
#home-section{
    background: url('../img/home.jpg') no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
   
.dark-overlay{
    background-color: $dark-overlay;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

.home-inner{
    padding-top: 120px;
}

.card-form{
    opacity: 0.8;
}

.fa{
    color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
}

  .main-color-bg{
    background: $bg-color;
    border: $primary-color 3px solid;
    
  }

  a{
      color: #fff;
  }
}

#logo{
    font-family: 'Pacifico', cursive;
    color: #fff
}


  /* Header */
  #header{
      background: #333333;
      color: #ffffff;
      padding-bottom: 10px;
      margin-bottom: 15px;
      padding-top: 70px;
  }

  .breadcrumb a{
      color: $primary-color;
  }

  #display{
      color: $bg-color;
  }

  .obj-color, a{
      color: $primary-color;
  }

  .list-group-item.active{
      background-color: $primary-color !important;
      border-color: $primary-color !important;
  }