<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- CSS LINKS -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">
        <title>More-Recipes</title>
    </head>

    <body id="home">

        <!-- NAVIGATION SECTION -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <div class="container">
                <a href="index.html" class="navbar-brand">More-Recipes</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- HOME SECTION -->
        <header id="home-section">
            <div class="dark-overlay">
                <div class="home-inner">
                    <div class="container">
                        <div class="row" id="parent">
                            <div class="col-lg-8 d-none d-lg-block">
                                <h1 class="display-4"> Share your <strong> awesome </strong> and exciting <strong>recipe</strong> ideas</h1>
                                <div class="d-flex flex-row">
                                    <div class="p-4 align-self-start">
                                        <i class="fa fa-check btn-info"></i>
                                    </div>
                                    <div class="p-4 align-self-end">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat earum quam cupiditate unde saepe nam?
                                    </div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div class="p-4 align-self-start">
                                        <i class="fa fa-check btn-info"></i>
                                    </div>
                                    <div class="p-4 align-self-end">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat earum quam cupiditate unde saepe nam?
                                    </div>
                                </div>
                                <div class="d-flex flex-row">
                                    <div class="p-4 align-self-start">
                                        <i class="fa fa-check btn-info"></i>
                                    </div>
                                    <div class="p-4 align-self-end">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat earum quam cupiditate unde saepe nam?
                                    </div>
                                </div>
                            </div>

                            <!-- LOGIN SECTION -->
                            <div class="col-lg-4">
                                    <a href="#" class="btn btn-info" role="button" data-toggle="collapse" data-target="#cardLogin" data-parent="#parent">Signin</a>
                                    <a href="#" class="btn btn-info" role="button" data-toggle="collapse" data-target="#cardRegister" data-parent="#parent">Signup</a>
                                
                                <!-- SIGNIN CARD -->
                                <div class="collapse show py-3" id="cardLogin">
                                    <div class="card main-color-bg text-center card-form">
                                        <div class="card-body">
                                            <h3>Log Into Your Account</h3>
                                            <p>Please enter your Login details</p>
                                            <form>
                                                <div class="form-group">
                                                    <input type="email" class="form-control form-control-lg" placeholder="Email" required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" class="form-control form-control-lg" placeholder="Password" required>
                                                </div>
                                                <button type="submit" class="btn btn-info btn-block">Login</button>
                                                <br>
                                                <a href=""><strong>forgot your password?</strong></a>
                                                <hr class="bg-white">
                                                <a href="">or sign in with one of these services</a>
                                                <ul class="list-inline text-center">
                                                    <li class="list-inline-item"><a class="btn btn-lg" href="" title="Google"><i class="fa fa-2x fa-google-plus"></i></a>&nbsp; </li>
                                                    <li class="list-inline-item"><a class="btn btn-lg" href="" title="Facebook"><i class="fa fa-2x fa-facebook"></i></a></li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- SIGNUP CARD -->
                                <div class="collapse py-3" id="cardRegister">
                                        <div class="card main-color-bg text-center card-form">
                                            <div class="card-body">
                                                <h3>Signup Today</h3>
                                                <p>Please fill out this form to register</p>
                                                <form>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control form-control-lg" placeholder="Username" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control form-control-lg" placeholder="Email" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control form-control-lg" placeholder="Password" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" required>
                                                    </div>
                                                    <input type="submit" value="Register" class="btn btn-info btn-block">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

            <!-- MAIN FOOTER -->
            <footer id="main-footer" class="bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <div class="py-4">
                                <h1 class="h3">More-Recipes</h1>
                                <p>Copyright &copy; 2017</p>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#contactModal">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- CONTACT MODAL -->
            <div class="modal fade text-dark" id="contactModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title" style="color:white" id="contactModalTitle">
                                Contact Us
                            </h5>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="messager">Message</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- EXTERNAL SCRIPTS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>